<div class="container">
    <div class="row">
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Günlük İşlemler
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-chart-bar fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Raporlar
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-cogs fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Yönetim
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-utensils fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Masalar
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Stok
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-book-reader fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Menü
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>
        <div class="m-md-4">
            <div class="contentBox">
                <a href="javascript:void(0);">
                    <div class="Contenticon">
                        <i class="fas fa-sign-out-alt fa-lg"></i>
                        <div class="ContentButton">
                            <label>
                                Çıkış
                            </label>
                        </div>

                    </div>


                </a>
            </div>
        </div>

    </div>
</div>