
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">  @ViewData["ActiveMenu"]</h2>
        </div>
        <div class="col-md-3 pull-right" style="margin-top:-30px;width:250px">

            <select class="form-control" id="SubMenu">
                <option value="0" selected style="text-align:center;" disabled>İşlemler</option>
                <option value="1">Menüye Kategori Ekle</option>
                <option value="2"> Kategoriye Ürün Ekle</option>
                <option value="3"> Menü Listesi</option>
            </select>

        </div>
    </header>
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="row bg-white has-shadow" id="panel">
                <div class="card col-md-12">
                    <div class="card-header"><label id="lblSubMenu"></label></div>
                    <div class="card-body">
                        <div class="form-group col-md-12" id="AddCategory">
                            <div class="table-responsive" style="border:none;">
                                <table class="table" style="border:none;">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Kategori ismini giriniz" />
                                        </td>
                                        <td>
                                            <button class="btn   btn-success">Kategori Kaydet</button>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="form-group col-md-12" id="AddCategoryProduct">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <select class="form-control">
                                                <option value="0" selected disabled>Kategori Seçiniz</option>
                                                <option value="1">test Kategori</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Ürün Adını Giriniz" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" placeholder="Ürün Fiyatını Giriniz" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-sm btn-success">Kaydet</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="MenuList" class="form-group col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="MyTable">
                                    <thead>
                                        <tr>
                                            <th>Kategori</th>
                                            <th>Ürün Adı</th>
                                            <th>Fiyat</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>2 TL</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger">Sil</button>
                                                <button type="button" class="btn btn-sm btn-primary">Düzenle</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>asd 2</td>
                                            <td>test2</td>
                                            <td>3 TL</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger">Sil</button>
                                                <button type="button" class="btn btn-sm btn-primary">Düzenle</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<script type="text/javascript">
    $("#panel").hide();
    $("#AddCategory").hide();
    $("#AddCategoryProduct").hide();
    $("#MenuList").hide();
    $("#SubMenu").on("change", function (e) {
        $("#panel").show();
        document.getElementById("lblSubMenu").innerText = $("#SubMenu option:selected").text();

        var SubMenuId = $("#SubMenu").val();
        switch (SubMenuId) {
            case "1":
                $("#AddCategory").show(); $("#AddCategoryProduct").hide(); $("#MenuList").hide(); break;
            case "2":
                $("#AddCategoryProduct").show(); $("#AddCategory").hide(); $("#MenuList").hide(); break;
            case "3":
                $("#MenuList").show(); $("#AddCategoryProduct").hide(); $("#AddCategory").hide();
                $("#MyTable").DataTable();
                break;
            default:
                $("#AddCategory").hide();
                $("#AddCategory").hide();
                $("#MenuList").hide();
        }
    })
</script>